*{
box-sizing: border-box;	
}
body {
	background: #ebf5ff;
	font-family: Mijnfont;
}

#head {
    display: flex;
	flex-direction: row;
	justify-content: center;
    padding-bottom: 10px;
    background-color: #ebf5ff;
    border-radius: 0px;
}
#head h5 {
    background-color: #3c6791;
    padding: 20px;
	height:100px;
    margin-top: 10px;
    font-size: 1.1em;
    color: white;
    border-radius: 10px;
}
#head .download {
    padding: 20px;
		height:100px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.1em;
    background-color: red;
    color: white;
    border-radius: 10px;
}
#examples ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#examples ul a {
    text-decoration: none;
    color: #a8a8a8;
    font-size: .8em;
}
#examples ul a:hover {
    color: black;
}

img {
	max-width: 100%;
}

ul li {
	width: 15%;
	min-width: 150px;
	margin-right: 10px;
	list-style: none;
}

#show,#showbig,#showcode  {
	width: 95%;
	margin: 10px auto;
	height: 500px;
	border-radius: 20px;
	background-color: rgba(250, 250, 250, .95);
	display: none;
	position: fixed;
	top: 10px;
	left: 2.5%;
	padding-top: 30px;
}

#showcode{
	width:50%;
	overflow: hidden;
}
#showbig{
height: 600px;	
}
#showerbc,#showerbcbig,#showerbccode  {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content:center;
	vertical-align: middle;
}

.fa,
.faa,
.fa2,
a.fa3 {
    cursor: pointer;
	margin: 0;
	padding: 20px;
}
.faa:hover,
p.fa:hover,.fa2:hover {
    background-color: red;
    color: white;
}

@font-face{

font-family:Mijnfont;
 src:url(FiraMono-Regular.woff);

}
