body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

img, canvas {
  max-width: 100%;
  height: auto !important
}
